doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width initial-scale=1 shrink-to-fit=no")
		title JS
		link(rel="stylesheet", href="main.css")
	body
		.field
			.snake.tail-1 t1
			.snake.tail-0 t0
			.snake s
			.food
		
		script(src="js/anichain.js")
		script(src="js/script.js")